In [17]:
import pickle
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential,load_model
from tensorflow.keras.layers import LSTM, Dense, Dropout
from sklearn.preprocessing import MinMaxScaler

In [18]:
import sqlite3

# creating file path
dbfile = 'finance_assistant.db'
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

# creating cursor
cur = con.cursor()

# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
# here is you table list
print(table_list)

# Be sure to close the connection

[('users',), ('sqlite_sequence',), ('transactions',)]

In [26]:
def update_user(user_id, new_username, new_password):
    # Connect to the database
    conn = sqlite3.connect('finance_assistant.db')
    cursor = conn.cursor()
    
    try:
        # Update the username and password
        cursor.execute("""
            UPDATE users
            SET username = ?, password = ?
            WHERE id = ?
        """, (new_username, new_password, user_id))
        
        conn.commit()
        print("User details updated successfully!")
    
    except sqlite3.Error as e:
        print("An error occurred:", e)
    
    finally:
        conn.close()

# Example usage
user_id = 1  # ID of the user you want to update
new_username = 'kalpana_mishra'
new_password = 'kalpana11'

update_user(user_id, new_username, new_password)

User details updated successfully!

In [27]:
users=[a for a in cur.execute("SELECT * FROM users")]
print(users)

[(1, 'kalpana_mishra', 'kalpana11'), (2, 'anshuman', 'Ansiimk@6')]

In [4]:
transactions=[a for a in cur.execute("SELECT * FROM transactions")]

In [5]:
sqlite_sequence=[a for a in cur.execute("SELECT * FROM sqlite_sequence")]
sqlite_sequence

[('users', 2), ('transactions', 21)]

In [6]:
# conn = get_db_connection()
df = pd.read_sql_query("SELECT * FROM transactions WHERE user_id = ?", con, params=('1',))
con.close()

In [8]:
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.month
df

    id  user_id   amount       category       date  month
0    1        1   4000.0  Entertainment 2024-04-05      4
1    2        1   2000.0  Entertainment 2024-04-25      4
2    3        1  15000.0           Rent 2024-04-02      4
3    4        1  10000.0        Savings 2024-04-20      4
4    5        1  11000.0        Savings 2024-05-21      5
5    6        1  15000.0           Rent 2024-05-03      5
6    7        1   1600.0  Entertainment 2024-05-12      5
7    8        1   2000.0  Entertainment 2024-05-19      5
8    9        1  15000.0        Savings 2024-05-22      5
9   10        1   1200.0           Food 2024-04-14      4
10  11        1   1800.0           Food 2024-04-28      4
11  12        1   1900.0           Food 2024-05-29      5
12  13        1   1100.0           Food 2024-05-14      5
13  15        1  15000.0           Rent 2024-03-03      3
14  16        1   2000.0  Entertainment 2024-03-07      3
15  17        1   1500.0  Entertainment 2024-03-22      3
16  18        1  16000.0        Savings 2024-03-22      3
17  19        1   1800.0           Food 2024-03-11      3
18  20        1   1100.0           Food 2024-03-28      3
19  21        1  12500.0           Rent 2024-02-03      2

In [11]:
def create_sequences(data, seq_length):
    X, y = [], []
    for i in range(len(data) - seq_length):
        X.append(data[i:i + seq_length])
        y.append(data[i + seq_length])
    return np.array(X), np.array(y)

In [12]:
    categories = ['rent', 'food', 'entertainment', 'savings']

    for category in categories:
        cat_df = df[df['category'].str.lower() == category].groupby('month')['amount'].sum().reset_index()
        if cat_df.empty or len(cat_df) < 3:
            continue
        print(cat_df['amount'])
        data=cat_df['amount']

        seq_length = 2  # Use the past 5 numbers to predict the next
        X, y = create_sequences(data, seq_length)

        # Reshape X to fit LSTM input: [samples, time_steps, features]
        X = X.reshape((X.shape[0], X.shape[1], 1))

        # Build the LSTM model
        model = Sequential([LSTM(50, activation='relu', input_shape=(seq_length, 1)),
                            Dense(1)  # Output layer
                           ])

        # Compile the model
        model.compile(optimizer='adam', loss='mse')

        # Train the model
        model.fit(X, y, epochs=200, verbose=0)
        model.save(f'lstm_{category}_model.h5')

0    12500.0
1    15000.0
2    15000.0
3    15000.0
Name: amount, dtype: float64
0    2900.0
1    3000.0
2    3000.0
Name: amount, dtype: float64
0    3500.0
1    6000.0
2    3600.0
Name: amount, dtype: float64
0    16000.0
1    10000.0
2    26000.0
Name: amount, dtype: float64

In [14]:
loaded_model = load_model('lstm_savings.h5')

# Use the loaded model for prediction
test_input = np.array([15000,14000]).reshape((1, seq_length, 1))
predicted = loaded_model.predict(test_input)
print(f"Predicted next number: {predicted[0][0]:.2f}")

1/1 [==============================] - 0s 432ms/step
Predicted next number: 18190.37